html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}
section{min-height:100%;padding-bottom: 10px;}
a{text-decoration: none;}
li{list-style-type: none;}
h1,h2,h3,a{
    font-weight: 500;
    color: #494949;
    text-transform: uppercase;
}
h2{color: #6e7c84;}
h3{
    padding-top: 8%;
    font-size: 40px;
    margin-bottom: 5px;
}
p{font-family: sans-serif;}
hr{
    width: 30px;
    height: 3px;
    /*background-color: #494949;*/
    background-color:#eb1b2a;
    border: 0;
    margin: 0 auto 40px auto;
}
.big{
    font-weight: 600;
}
.red{
    color: #eb1b2a;
}
cite{font-size: 11px;}
.link:hover{
    text-decoration: underline;
}
.fa-bars{display: none;}
img,li, #Seitenanfang, #logo, .fa-bars,.fa-angle-down,#standort div,#dhbw div,.bubble,.fa-sync-alt,.fa-refresh,.fa-arrow-alt-circle-left,.fa-arrow-alt-circle-right,.fa-calendar-day{transition: all 300ms;-webkit-transition: all 300ms;-moz-transition: all 300ms;-o-transition: all 300ms}

/* HEADER ********************/

header{
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0 1px 3px lightgray;
    z-index: 1;
}
#logo{
    width: 140px;
    float: left;
    margin: 10px 0 0 50px;
}
#logo:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
#logo img{
    width: 200%;
}
header nav{
    float: right;
    margin: 10px 50px 0 0;
}
header nav ul li{
    float: left;
    margin-right: 25px;
}
header nav ul li a{
    font-size: 16px;
}
header nav ul li:hover{
    padding-top: 3px;
    opacity: 0.9;
    text-decoration: underline;
}

/* HOME ********************/

#home{
    background: url(../sources/DHBW_MA_Campus.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#home h1{
    margin: 240px auto 0 auto;
    font-size: 100px;
}
#home h2{
    margin: 0 auto 0 auto;
    font-size: 50px;
}
.fa-angle-down{
    font-size: 35px;
    margin: 20px auto 0 auto;
}
.fa-angle-down:hover{
    opacity: 0.7;
}

/* STANDORT ********************/

#standort{
    width: 90%;
    margin: 0 auto 0 auto;
}
#standort p{
    text-align: left;
    margin: 0 auto 0 auto;
    padding: 10px;
    text-transform: none;
}
#eckdaten-h1{
    font-size: 25px;
}
#standort ul{
    padding:0;
}
#standort ul li{
    width: 33.3%;
    float: left;
    margin-bottom: 10px;
}
#standort ul li div{
    height: auto;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 30px 20px;
    border-radius: 15px;
    background-color:#f0f0f0;
}
#students-img{
    width: 90%;
    height: auto;
    margin: 20px 20px 20px 20px;
    border-radius: 15px;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.3);
}
#standort div{
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.3);
}
#standort div:hover,#students-img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.3);
}
#wetter-div h1{
    margin-bottom: 10px;
}
#weather-api-icon{
    width: 50px;
    height: auto;
    float: left;
    padding: 0 0 0 10%;
}
span.tmax{
    text-align: right;
    line-height: 40px;
}
#weather-report{
    color: #6e7c84;
    font-weight: normal;
    margin: 23px 10% 20px 20%;
}
#weather-api-description,#temp{
    font-weight: 600;
}
#temp{
    color: #eb1b2a;
}
#standort ul li div #corona-melden{
    text-transform: none;
    width: 150px;
    border-radius: 0;
    background-color: #eb1b2a;
    color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}
#standort ul li div #corona-melden:hover{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    background-color: white;
    color: #eb1b2a;
    border-color: 1px solid #eb1b2a;
}
/* AMPEL */
#farbverlauf{
    width:70%;height:50px;margin: 10px 10%;position: relative;
}
#standort .farbverlauf {
    background-image: linear-gradient(90deg, green 20%, yellow 33%, yellow 33%, yellow 48%, red 75%); 
}
#standort .farbverlauf_ext {
    background-image: linear-gradient(90deg, green 20%, yellow 33%, yellow 33%, yellow 48%, red 75%, red 80.9%, white 81%, white 82%, red 82.1%, red 83%, white 83.1%, white 84%, red 84.1%, red 85%, white 85.1%, white 86%, red 86.1%, rgb(150, 0, 0) 95%); 
}
#anzeige7TageInzidenzWert{
    color: red; font-weight: bold;
}
#inzidenz_stand{
    color: #494949;
    font-size: 10px;
}
#standort ul li div #farbverlauf:hover{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.3);
}
/* AMPEL ENDE */


/* DHBW ********************/

#dhbw-section{
    background-color: #f0f0f0  ;
}
#dhbw{
    background-color: #f0f0f0;
    width: 90%;
    margin: 0 auto 0 auto;
}
#dhbw ul{
    padding: 0;
}
#dhbw p{
    text-align: left;
    margin: 0 auto 0 auto;
    padding: 10px;
    text-transform: none;
}
#allgemeines-h1{
    font-size: 25px;
}
#allgemeines-p{
    margin: 0 auto 0 auto;
}
#dhbw ul li{
    width: 50%;
    float: left;
    margin-bottom: 10px;
}
#dhbw ul li div{
    height: auto;
    padding: 10px 10px 10px 10px;
    margin: 20px 25px 20px 25px;
    border-radius: 15px;
    background-color:white;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.3);
}
#dhbw div:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.3);
}
#dhbw ul li div #partner-werden{
    text-transform: none;
    width: 200px;
    border-radius: 0;
    background-color: #eb1b2a;
    color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}
#dhbw ul li div #partner-werden:hover{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    background-color: white;
    color: #eb1b2a;
    border-color: 1px solid #eb1b2a;
}


/* TERMINE ********************/

#termine {
    padding-top: 50px;
}
.tg {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
}
.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    padding: 15px 5px;
    word-break: normal;
}
.tg th {
    background-color: #eb1b2a;
    border-color: #6e7c84;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
}

.lesson-summary{
    margin-top: 5px;
    font-weight: bolder;
}
.lesson-location{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.lesson-time{
    position: absolute;
    top:0px; 
    left: 5px;
    padding-bottom: 20px;
}

.loader {
    margin: auto;
    border-top: 3px solid #494949; /* Blue */
    border-right: 3px solid #494949; /* Blue */
    border-bottom: 3px solid #eb1b2a; /* Blue */
    border-left: 3px solid #eb1b2a; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#nicht-laedt{
    text-transform: none;
}
#nicht-laedt:hover{
    text-decoration: underline;
}
.fa-refresh:hover,.fa-arrow-alt-circle-left:hover,.fa-arrow-alt-circle-right:hover,.fa-calendar-day:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* NOTIZEN ********************/

#notizen-section{
    background-color: #f0f0f0;
}
#notizen{
    background-color: #f0f0f0;
    margin: 0 auto 0 auto;
    width: 90%;
}
#notizen ul{
    padding: 0;
}
#notizen ul li{
    width: 50%;
    float: left;
    margin-bottom: 0;
}
#name-p{
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
}
#ul-name li{
    width: 50%;
    float: left;
    margin-bottom: 0;
}
textarea{
    font-size: 15px;
    margin: 0;
    border-radius: 2px;
    border: 2px solid;
    border-color: #494949;
    outline: none;
    border-radius: 5px;
}
form input{
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 2px solid;
    border-color: #494949;
    outline: none;
    border-radius: 5px;
    width: 90%;
    height: 30px;
}
form textarea{
    width: 95%;
    height: 200px;
    resize: none;
}
.input_text{
    color: #494949;
    padding: 10px;
    margin: 0;
}
::-webkit-input-placeholder{color:#999999}
::-moz-placeholder{color: #999999;}
:-ms-input-placeholder{color: #999999;}
:-moz-placeholder{color: #999999;}
#chars-p, #chars-name-p{
    text-align: right;
    font-size: 12px;
    color: #999999;
    margin:0 10px 10px 0;
}
#chars-name-p{
    margin-top: 5px;
}
.button{
    background-color: #f0f0f0;
    color: #494949;
    width: 95%;
    height: 50px;
    border-radius: 5px;
}
.button:hover{
    background-color: #eb1b2a;
    color: #f0f0f0;
}
.scroll {
    background: #f0f0f0;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    border: 1px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    }

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 80%;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: left;
    color: #000;
    margin-bottom: 30px;
    margin: 0 10% 30px 8%;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.3);
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 24px solid #fff;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    right: 32px;
    bottom: -24px;
  }
  .bubble:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
  #sync_board{
      text-align: right;
      font-size: 20px;
      color: #eb1b2a;
  }
  .fa-sync-alt:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* FOOTER ********************/

#Seitenanfang{
    background-color:rgba(110, 124, 132, 0.8) ;
    height: 50px;
}   
#Seitenanfang:hover{
    background-color: rgba(110, 124, 132, 0.9);
}
#Seitenanfang p{
    color: rgba(255,255,255, 1);
    /*color: #494949;*/
    text-transform: none;
    padding-top: 17px;
    margin-top: 0;
}
footer{
    text-transform: none;
    background-color:rgb(110, 124, 132) ;
    height: 140px;
}
footer p{
    padding-top: 30px;
    color: rgba(255,255,255, 1);
    margin: 0 auto 0 auto;
}

/* Media QUERIES ******************************/

/* TABLETS */

@media screen and (max-width:1024px){
    
    h3{
        padding-top: 12%;
    }
    /* HEADER */

    header{
        height: auto;
    }
    #logo{
        width: 100px;
        margin-top: 5px;
    }
    header nav{
        margin-top: 0;
    }
    header nav ul li{
        font-size: 12px;
    }

    /* HOME */

    #home h1{
        font-size: 90px;
        margin-top: 200px ;
    }
    #home h2{
        font-size: 22px;
    }
    #about p{
        width: 80%;
    }
    /* STANDORT */
    #standort{
        width: auto;
        height: auto;
    }
    #standort div,#students-img{
        margin:auto;
    }
    #standort ul li{
        width: 100%;
        float: none;
    }
    #standort ul li:last-child{
        padding-bottom: 10%;
    }
    #standort div:hover,#students-img:hover{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        box-shadow: 4px 10px 10px 10px rgba(0, 0, 0, 0.3);
    }
    #weather-report{
        margin-right: 0;
    }
    
    /* DHBW */
    
    #dhbw-section{
        width: auto;
        height: auto;
    }
    #dhbw-section div{
        margin:auto;
    }
    #dhbw ul li{
        width: 100%;
        float: none;
    }
    #standort ul li:last-child{
        padding-bottom: 10%;
    }
    #dhbw div:hover,#dhbw img:hover{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        box-shadow: 4px 10px 10px 10px rgba(0, 0, 0, 0.3);
    }

    /* TERMINE */

    /* Notizen */
    #notizen ul li{
        width: 100%;
        float:none;
    }
    form input, form textarea{
        width: 60%;
    }
    .button{
        width: 62%;
    }
    #notizen-section{
        width: auto;
        height: auto;
    }
    #notizen{
        margin:auto;
    }
    #chars-p, #chars-name-p{
        text-align: center;
    }
}
/* HANDY */

@media screen and (max-width:700px){
    #logo{
        width: 130px ;
        margin-left: 30px;
    }
    header nav{
        float: none;
        margin: 0;
    }
    .fa-bars{
        font-size: 17px;
        display: block;
        width: 100%;
        cursor: pointer;
        margin: -34px 30px 0 0;
        text-align: right; 
        float: right;
    }
    .fa-bars:hover{
        opacity: 0.5;
    }
    header nav ul{
        height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    header nav ul.open_nav_bar{
        height: auto;
    }
    header nav ul li{
        width: 100%;
        padding: 5px 0;
        margin: 0;
        font-size: 11px;
        border-top: 1px solid #dddddd;
    }
    header nav ul li:hover{
        background-color: #eeeeee;
        padding-top: 5px;
    }
    #termine img{
        width: 90%;
        height: auto;
    }

    /* Termine */
    .tg {
        width: auto !important;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0px;
    }
}
.bubble:hover{
    transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
}

/* Jetzt wirklich HANDY*/

@media screen and (max-width:560px){
    #home h1{
        font-size: 40px;
    }
    
}